@import url( 
'https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

  /* CSS for header */
  .header {
	margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a5e6f2;
    font-size: 23px;
	width: 100vw; 
    height: 400px;
  }

  #logo {
    display: block;
    width: 230px; 
    height: 80px; 
    margin-right: 20px;
}

  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
	background-color: #a5e6f2;
    margin-right: 40px;
  }

  .nav-items a {
    text-decoration: none;
    color: #000000b5;
    padding: 35px 20px;
  }

body { 
	margin: 0; 
	display: flex; 
	align-items: center; 
	justify-content: space-around; 
	flex-direction: column; 
	height: 100vh; 
	background-color: #83807f36; 
	font-family: 'Poppins', sans-serif; 

} 

.textup { 
	text-align: center; 
	color: rgb(0, 0, 0); 
	font-weight: 700; 
} 

i { 
	margin-right: 3px; 
} 

.form-box { 
	background-color: #fff; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
	padding: 15px; 
	border-radius: 8px; 
	width: 500px; 
} 

form { 
	max-width: 400px; 
	margin: 0 auto; 
} 

.radio-group { 
	display: flex; 
	margin-bottom: 16px; 
} 

input[type="radio"] { 
	margin-right: 8px; 
} 

label { 
	display: block; 
	margin-bottom: 8px; 
	font-size: 17px; 
	color: cc2b21; 
	font-weight: 600; 
} 

input, 
textarea { 
	width: 100%; 
	padding: 8px; 
	margin-bottom: 12px; 
	box-sizing: border-box; 
	border-radius: 10px; 

} 

.btn { 
	background-color: #cc2b21; 
	color: #fff; 
	padding: 10px; 
	border: none; 
	border-radius: 25px; 
	cursor: pointer; 
	width: 100%; 
	font-size: 15px; 
	transition: .2s linear; 
} 

.btn:hover { 
	background-color: #63201b; 
	border: none; 
	transform: translateY(-10px); 
} 

h1 { 
	color: green; 
}
