<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/icon4.png" type="image/png">

  <title>HomePage</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/home.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    h1 {
      color: #13266C;
    }

    p {
      color: #323743;
    }

    /* .highlight {
    font-weight: bold;
  } */
    .mission {
      /* background-color: #f2f2f2; */
      padding: 20px;
      border-radius: 15px;
      width: 100%;

    }

    .show {
      margin-left: 55px;
    }

    .move {
      margin-left: 75%;
      display: flex;
      justify-content: space-evenly;
    }

    .profile-menu {
      display: flex;
      align-items: center;
    }

    .navbar-nav .nav-link {
      font-weight: bolder;
      font-size: 1.1rem;
      color: #921919;
      font-size: larger;

    }

    .nav-link {
      color: #921919;
      font-size: larger;

    }

    .container-fluid {
      height: 82px;

    }

    .success-message {
      position: fixed;
      top: 10px;
      right: 10px;
      width: 300px;
      z-index: 9999;
    }
    .testimonial-slider {
            width: 80%;
            margin-left: 100px;
        }

        .testimonial {
            padding: 30px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 10px;
            text-align: center;
        }

        .testimonial p {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .testimonial .author {
            font-style: italic;
        }

        .testimonial .profile-pic {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto 20px;
            display: block;
        }

        .stars {
            color: #ffc107; /* Color of filled stars */
        }
        .testimonial-slider::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit browsers */
}

.testimonial-slider {
    overflow-x: hidden; /* Hide the horizontal scrollbar */
    overflow-y: hidden;
}
  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
  </script>
  <!-- <header class="header">
    <a href="/templates/home.html"><img id="logo" src="../static/Logo.png" alt="Logo"></a>
    
    <nav class="nav-items">
      <a href="/templates/home.html">Home</a>
      <a href="/templates/facility.html">Facilities</a>
      <a href="/templates/about.html">About Us</a>
      <a href="/templates/Login_inst.html">Login</a>
    </nav>
  </header> -->

  <nav class="navbar navbar-expand-lg navbar-light"
    style="background: linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%); padding: 0.5rem 1rem;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/templates/home.html"
        style="font-weight: 700; margin-left: 16px; font-size: 1.25rem;">
        <img src="/static/HospitEase_transparent.png" height="100px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto move" style="font-size: 0.9rem;">
          <li class="nav-item">
            <a class="nav-link" href="/templates/home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/facility.html">Facility</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/about.html">About</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mr-0 mb-lg-0 profile-menu">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="profile-pic mr-0" style="width: 36px; height: 36px;">
                {% if request.user.profile.avatar %}
                <img src="{{ avatar_url }}" alt="Profile Picture"
                  style="width: 100%; height: 100%; border-radius: 50%;">
                {% else %}
                <img src="/media/profile_pictures/avatar.jpg" alt="Default Avatar"
                  style="width: 100%; height: 100%; border-radius: 50%;">
                {% endif %}
              </div>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
              <li><a class="dropdown-item" href="#" style="font-size: 0.9rem;"></i>Welcome {{ request.user.first_name }}
                </a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'pfpage' %}" style="font-size: 0.9rem;"><i
                    class="fas fa-sliders-h fa-fw"></i> Account</a></li>
              {% if is_doctor %}
              <li><a class="dropdown-item" href="{% url 'doc' %}" style="font-size: 0.9rem;"><i
                    class="fa-solid fa-chart-line"></i>
                  Dashboard</a>
                </a></li> {% endif %}
              <li><a class="dropdown-item" href="#" style="font-size: 0.9rem;"><i class="fas fa-cog fa-fw"></i>
                  Settings</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                {% if user.is_authenticated %}
                <a class="dropdown-item" href="/logout_usr" style="font-size: 0.9rem;"><i
                    class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                {% else %}
                <a class="dropdown-item" href="/templates/Login_inst.html" style="font-size: 0.9rem;"><i
                    class="fas fa-sign-in-alt fa-fw"></i> Log In</a>
                {% endif %}
              </li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="successMessage" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true"
    data-bs-delay="30000">
    <div class="toast-header bg-success text-white">
      <strong class="me-auto">Success</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="toast-body">
        Your appointment has been successfully booked. An email confirmation will be sent to you shortly.
      </div>

    </div>
  </div>
  <div id="loginSuccessToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="toast-header">
      <strong class="me-auto">Success</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <!-- Your custom success message will be displayed here -->
    </div>
  </div>
  <main>
    <div class="intro">
      <h1>HospitEase</h1>
      <p class="typewriter" style="font-family: 'Poppins','sans-serif';">"Where Health Meets Hope"</p>
      <a href="/templates/appointment.html"><button>Book An Appointment</button></a>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-calendar-days" style="color: #921919;"></i>
        <p class="work-heading">Schedule</p>
        <p class="work-text">Sundays - 9am-3pm<br>
          Saturdays - 9am-6pm<br>
          Weekdays - 9am-9pm
        </p>
      </div>
      <div class="work">
        <i class="fas fa-atom" style="color: #921919;"></i>
        <p class="work-heading">Events</p>
        <p class="work-text">7-Feb: Blood Donation Drive <br>
          9-Feb: Free Physiotherapy Lessons <br>
          12-Feb: Free eye checkup for kids <br>
        </p>
      </div>
      <!-- Add more work items here -->
      <div class="work">
        <i class="fas fa-heartbeat" style="color: #921919;"></i>
        <p class="work-heading">Health Tips</p>
        <p class="work-text">Stay hydrated by drinking plenty of water every day. <br>
          Exercise regularly to maintain a healthy body and mind. <br>
          Get enough sleep to support your overall well-being. <br>
        </p>
      </div>
      <div class="work">
        <i class="fas fa-user-md" style="color: #921919;"></i>
        <p class="work-heading">Specialists</p>
        <p class="work-text">Cardiologist - Dr. Smith <br>
          Orthopedic Surgeon - Dr. Johnson <br>
          Pediatrician - Dr. Williams <br>
        </p>
      </div>
     
    </div>
    
    <div class="about-me" style="border-bottom: solid 1px rgb(229, 229, 229);">
      <div class="about-me-text">
        <h1 style="color: #AB2848;">Welcome to HospitEase</h1>
        <div class="mission">
          <p><span class="highlight">HospitEase</span> is a leading healthcare institution committed to providing
            exceptional medical services and compassionate care to our community. With a team of dedicated and skilled
            healthcare professionals, we prioritize patient well-being, offering state-of-the-art facilities and
            cutting-edge medical technology.</p>
          <p>Our mission is to deliver personalized and comprehensive healthcare solutions, ensuring the highest
            standards of safety and excellence. At <span class="highlight">HospitEase</span>, we foster a
            patient-centric approach, creating a healing environment that emphasizes trust, empathy, and dignity.</p>
          <p>Join us on the journey towards optimal health and well-being at <span class="highlight">HospitEase</span>,
            where your health is our priority.</p>
        </div>
        <!-- <img src="../static/white.jpeg.jpg" > -->
      </div>
      <iframe style="border-radius:30px"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1137.1317312390179!2d72.82958419683968!3d19.056881558537558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c93fee567a43%3A0x239fd172208c865!2sSt.%20Andrew&#39;s%20College%2C%20Bandra%20West%2C%20Mumbai%2C%20Maharashtra%20400050!5e0!3m2!1sen!2sin!4v1710947467214!5m2!1sen!2sin"
        width="2000" height="280" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </main>
  <!-- <footer class="footer">
    <div class="copy">Quick Links
      
    </div>
    
    <div class="bottom-links">
      <div class="links">
        <span><a href="/templates/home.html">Home</a></span>
      </div>
      <div class="links">
        <span><a href="/templates/about.html">About Us</a></span>
      </div>
      <div class="links">
        <span><a href="/templates/feed.html">Feedback</a></span>
      </div>
    </div>
  </footer> -->
  <!-- Footer -->

  <h1 style="margin-left: 100px; color: #AB2848; margin-top: 50px;"><i class="fas fa-comments" style="color: #921919;"></i>&nbsp; User Feedback</h1>

  <div class="testimonial-slider" style="width: 40%;">
    {% for feedback in feedbacks %}
    <div class="testimonial">
      {% if feedback.user.profile %}
      <img class="profile-pic" src="{{ feedback.user.profile.avatar.url }}" alt="Profile Picture">
  {% else %}
      <!-- Display default profile image -->
      <img class="profile-pic" src="/media/profile_pictures/avatar.jpg" alt="Default Profile Picture">
  {% endif %}
        <p>"{{ feedback.message }}"</p>
        <p class="author">{{ feedback.user.get_full_name }}</p>
        
        <!-- Add more profile fields as needed -->
        <div class="stars" data-stars="{{ feedback.stars }}"></div>
    </div>
    {% endfor %}
  </div>
  <div class="testimonial-slider" style="width: 40%;">
    {% for tip in health_tips %}
    <div class="testimonial">
      <img class="profile-pic" src="/media/profile_pictures/health_tip_avatar.jpg" alt="Health Tip Avatar">
      <p>"{{ tip.message }}"</p>
      <p class="author">{{ tip.source }}</p>
      <div class="stars" data-stars="{{ tip.rating }}"></div>
    </div>
    {% endfor %}
  </div>
  


  <footer class="text-center text-lg-start bg-body-tertiary text-muted color"
    style="background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f" style="color: #921919;"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter" style="color: #921919;"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google" style="color: #921919;"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram" style="color: #921919;"></i>
        </a>
        <!-- <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a> -->
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>HospitEase
            </h6>
            <p>
              Caring Made Easy
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Facilities
            </h6>
            <p>
              <a href="/templates/vac.html" class="text-reset">Vaccines</a>
            </p>
            <p>
              <a href="/templates/sono.html" class="text-reset">Sonography</a>
            </p>
            <p>
              <a href="/templates/physio.html" class="text-reset">Physiotherapy</a>
            </p>
            <p>
              <a href="/templates/xray.html" class="text-reset">X-Ray</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="/templates/about.html" class="text-reset">About Us</a>
            </p>
            <p>
              <a href="/templates/Login.html" class="text-reset">Login</a>
            </p>
            <p>
              <a href="/feedback.html" class="text-reset">Feedback</a>
            </p>
            
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Mumbai, 4000050 </p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@HospitEase.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 91 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 91 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="/templates/home.html">HospitEase</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js'></script>
  <script>
    // Check if the context is true
    // Retrieve the appointment_details context variable
    var context = '{{ appointment_details|default_if_none:"false" }}';
    if (context) {
      // Show the toast
      var toastEl = document.getElementById('successMessage');
      var toast = new bootstrap.Toast(toastEl);
      toast.show();
      // Hide the toast after 30 seconds
      setTimeout(function() {
        toast.hide();
      }, 300000);
    }
      
  </script>
 {% if success_message %}
 <script>
   document.addEventListener('DOMContentLoaded', function () {
     // Retrieve the success message from the server-side context
     var successMessage = "{{ success_message }}";
 
     // If there is a success message, display it as a toast
     if (successMessage) {
       var toastEl = document.getElementById('loginSuccessToast');
       var toast = new bootstrap.Toast(toastEl);
       var toastBody = toastEl.querySelector('.toast-body');
       toastBody.textContent = "You have logged in sucessfully!";
       toast.show();
     }
   });
 </script>
 {% endif %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
 <script>
     $(document).ready(function(){
            $('.testimonial-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000, // Adjust as needed
                arrows: false,
                dots: true
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
    var testimonials = document.querySelectorAll('.testimonial');
    
    testimonials.forEach(function(testimonial) {
        var starsContainer = testimonial.querySelector('.stars');
        var starsCount = parseInt(starsContainer.getAttribute('data-stars'));
        displayStars(starsContainer, starsCount);
    });
    
    function displayStars(container, count) {
    container.innerHTML = '';
    for (var i = 0; i < count; i++) {
        var star = document.createElement('i');
        star.classList.add('fas', 'fa-star', 'star');
        container.appendChild(star);
        if (i < count - 1) {
            var space = document.createElement('span');
            space.textContent = '\u00A0'; // Add a non-breaking space
            container.appendChild(space);
        }
    }
}

});

 </script>
  </head>
</body>

</html>