<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/xray.css">
    <link rel="icon" href="/static/icon4.png" type="image/png">

    <title>Facilities Page</title>
</head>
<body>

    <header>
        <img id="logo" src="../static/Logo.png" alt="Logo">
        <div id="facilities-text">SONOGRAPHY FACILITIES</div>
    </header>

<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
            </div>
            <div class="main-section" style="background:#ffffff">
                <div class="slider">
                    <img src="../static/ultra.jpg">
                  </div>
                  <div class="content">
                    <h1>SONOGRAPHY FACILITIES</h1><br>
                    <p class="par"> <p><p>Our hospital takes pride in offering state-of-the-art sonography facilities, equipped with cutting-edge technology and skilled medical professionals. </p><p>We prioritize precision and accuracy in diagnostic imaging to provide comprehensive and reliable results for our patients. </p><p>The advanced sonography services at our hospital ensure thorough examinations, aiding in the early detection and diagnosis of various medical conditions. </p><p>With a commitment to excellence, our facility is dedicated to maintaining the highest standards in healthcare, delivering exceptional sonography services for the well-being and care of our community.</p>
                    <div class="event">
                        <h2 class="heading"> STAFF</h2>
                        <div>
                          <marquee direction="up" scrollamount="7" style="height:340px;">
                            <ul>
                              <li>
                                <i>HoD :</i>Dr. Rachel Ernest
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Rohan Chimbaikar
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Josh Smith
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Seema Singh
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Geeta Raj
                              </li>
                            </ul>
                          </marquee>
                        </div>
                      </div>
                  </div>
                    <div class="event">
                        <h2 class="heading">SCHEDULE</h2>
                        <div>
                          <ul>
                            <li>
                              <span class="event-date"> SUNDAY </span> 9am - 12pm
                            </li>
                            <li>
                              <span class="event-date">SATURDAY </span> 9am - 12pm
                            </li>
                            <li>
                              <span class="event-date">WEEKDAYS</span> 9am - 9pm 
                            </li>
                            <li>
                              <span class="event-date">EMERGENCY</span> 9am - 9pm 
                            </li>
                            
                            
                          </ul>
                        </div>
                      </div>
         <footer>    
          <a href="../templates/home.html">Home</a>
          <a href="../templates/fac.html">Back</a>
    </footer>
</body>
</html>