<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/xray.cs">
    <link rel="icon" href="/static/icon4.png" type="image/png">

    <title>Facilities Page</title>
</head>
<body>

    <header>
        <img id="logo" src="../static/Logo.pn" alt="Logo">
        <div id="facilities-text">SPEECH THERAPY FACILITIES</div>
    </header>

<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
            </div>
            <div class="main-section" style="background:#ffffff">
                <div class="slider">
                    <img src="../static//speeeeeeee.jpg">
                  </div>
                  <div class="content">
                    <h1>SPEECH THERAPY FACILITIES</h1><br>
                    <p class="par"> <p>Our hospital takes pride in offering state-of-the-art speech therapy facilities to our patients. </p><p>Our dedicated team of speech therapists employs cutting-edge techniques to enhance communication skills and address speech-related challenges.</p><p> With a commitment to excellence, we provide personalized and comprehensive speech therapy services. </p><p>Our facilities are equipped with advanced technology and tailored programs to meet the unique needs of each individual. Patients can expect a supportive and nurturing environment that fosters effective communication and overall well-being.</p><p> At our hospital, we strive to empower individuals to regain confidence and achieve their full potential through the latest in speech therapy facilities.</p><div class="event">
                        <h2 class="heading"> STAFF</h2>
                        <div>
                          <marquee direction="up" scrollamount="7" style="height:340px;">
                            <ul>
                              <li>
                                <i>HoD :</i>Dr. Rachel Ernest
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Rohan Chimbaikar
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Josh Smith
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Seema Singh
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Geeta Raj
                              </li>
                            </ul>
                          </marquee>
                        </div>
                      </div>
                  </div>
                    <div class="event">
                        <h2 class="heading">SCHEDULE</h2>
                        <div>
                          <ul>
                            <li>
                              <span class="event-date"> SUNDAY </span> 9am - 12pm
                            </li>
                            <li>
                              <span class="event-date">SATURDAY </span> 9am - 12pm
                            </li>
                            <li>
                              <span class="event-date">WEEKDAYS</span> 9am - 9pm 
                            </li>
                            <li>
                              <span class="event-date">EMERGENCY</span> 9am - 9pm 
                            </li>
                            
                            
                          </ul>
                        </div>
                      </div>
         <footer>    
          <a href="../templates/home.html">Home</a>
          <a href="../templates/fac.html">Back</a>
    </footer>
</body>
</html>