<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/xray.css">
    <link rel="icon" href="/static/icon4.png" type="image/png">

    <title>Facilities Page</title>
</head>
<body>

  <header style="height: 100px;">
    <a href="/"> <img id="logo" src="../static/HospitEase_Transparent (Medium) (Small).png" alt="Logo"></a>
</header>

<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
            </div>
            <div class="main-section" style="background:#ffffff">
                <div class="slider">
                    <img src="../static/xsly.jpg">
                  </div>
                  <div class="content">
                    <h1>XRay Facilities</h1><br>
                    <p class="par"> We take pride in offering state-of-the-art X-ray facilities, equipped with the latest technology. <p>These facilities enable accurate and detailed imaging, aiding our skilled medical professionals in providing precise diagnoses and tailored treatment plans.</p><p> Committed to excellence, we ensure that our X-ray services meet the highest standards, contributing to the overall well-being of our patients. </p><p>With advanced imaging capabilities, we strive to enhance the diagnostic accuracy and efficiency of our medical practices. </p>
                </p>
                    </div>
                    
                    <div class="event">
                        <h2 class="heading">SCHEDULE</h2>
                        <div>
                          <marquee direction="up" scrollamount="7" style="height:340px;">
                            <ul>
                              <li>
                                <i>HoD :</i> Dr. Rohan Chimbaikar
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Rachel Ernest
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Tom Jones
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Seema Singh
                              </li>
                              <li>
                                <i>Staff : </i> Dr. Geeta Raj
                              </li>
                            </ul>
                          </marquee>
                        </div>
                      </div>
                  </div>
                    <div class="event">
                        <h2 class="heading">Events</h2>
                        <div>
                          <ul>
                            <li>
                              <span class="event-date"> SUNDAY </span> 9am - 12pm
                            </li>
                            <li>
                              <span class="event-date">SATURDAY </span> 9am - 12pm
                            </li>
                            <li>
                              <span class="event-date">WEEKDAYS</span> 9am - 9pm 
                            </li>
                            <li>
                              <span class="event-date">EMERGENCY</span> 9am - 9pm 
                            </li>
                            
                            
                          </ul>
                        </div>
                      </div>
         <footer> 
          <a href="../templates/home.html">Home</a>
          <a href="../templates/facility.html">Back</a>
    </footer>
</body>
</html>